#bg1 {
        width: 50%;
        background-image: url("https://images.alphacoders.com/101/1019517.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
      
      }

      #bg2 {


      }